
:root {
    --color-black: #0D0D0D;
    --color-charcoal-grey:#3C4048;
    --color-grey-cloud: #B2B2B2;
    --color-white: #F6F1F1; 
    --color-deep-aqua-100: #d0e2ea;
    --color-deep-aqua-200: #a1c4d4;
    --color-deep-aqua-300: #72a7bf;
    --color-deep-aqua-400: #4389a9;
    --color-deep-aqua-500: #146c94;
    --color-deep-aqua-600: #105676;
    --color-deep-aqua-700: #0c4159;
    --color-deep-aqua-800: #082b3b;
    --color-deep-aqua-900: #04161e;
}
body{
    font-family: 'Quicksand', sans-serif;
}

header{
    width: 100%;
    height: 80px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
max-height: 100%;
}

header li {
    display: inline;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-deep-aqua-500);

}

header a:hover{
    text-decoration: underline;
    color: var(--color-deep-aqua-300)
}
.slogan{
    color: var(--color-deep-aqua-200);
    font-size: 120px;
    margin-bottom: 20px;
    padding: 40px

}
.marquee{
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-deep-aqua-600);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    min-height: calc(100vh - 80px);
}

.marquee-img{
    max-width: 100%;
}

.team-section{
    width: 100%;
    height: 100%;
}

.profile-marquee{
    max-width: 100%;
    min-height: 100vh;
}

.profile-pic img {
    height: 200px;
}

.profile-pic{
    display: flex;
    justify-content: center;
}


.team-heading{
    font-size: 80px;
    color: var(--color-deep-aqua-300);
    margin-bottom: 20px;
    text-align: center;
    padding: 40px;
}
.team-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 20px;
    margin-bottom: 40px;
}
.teammate{
    padding: 20px 20px 40px;
    background-color: var(--color-deep-aqua-200);
    border-radius: 15px;
    border: 4px solid var(--color-deep-aqua-600);
}

@media (min-width: 768px) {
    .team-container {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 1024px) {
    .team-container {
        grid-template-columns: repeat(3,1fr);
    }
}

.teammate-name{
    color: var(--color-deep-aqua-500);
    font-weight: 500;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

.teammate-description{
    color: var(--color-charcoal-grey);
    font-weight: 500;
    text-align: center;
    padding: 20px;
    font-size: 16px;
}
.teammate-description a{
    background-color: var(--color-deep-aqua-500);
    color: var(--color-deep-aqua-100);
    border-radius: 5px;
    padding: 5px;
    border: 2px solid var(--color-deep-aqua-800);
    text-decoration:underline;
}

.teammate-description a:hover{
    text-decoration: none;
    color: var(--color-deep-aqua-100);
}

.sobre-nosotros{
    background-color: var(--color-deep-aqua-500);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
}

.sobre-nosotros-heading{
    border-radius: 20px;
    color: var(--color-deep-aqua-100);
    font-size: 80px;
    margin: 0 auto;
    padding: 10px 40px;
    text-align: center;
    width: fit-content;
}

.sobre-nosotros-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.mision, .valores, .vision {
    display: flex;
    flex-direction: column;
}

.mision-heading, .valores-heading, .vision-heading {
    color: var(--color-deep-aqua-100);
    font-size: 48px;
    padding: 20px;
    text-align: center;
}

.mision-content, .valores-content, .vision-content {
    font-size: 20px;
    align-items: center;
    background-color: var(--color-deep-aqua-600);
    border-radius: 15px;
    color: var(--color-deep-aqua-100);
    flex: 1;
    font-weight: 400;
    padding: 20px;
    text-align: justify;
}

.valores-content ul {
    list-style: disc;
    padding-inline-start: 20px;
}

.valores-content ul > li + li {
    margin-top: 12px;
}

footer {
    min-height: 441px;
    display:grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
    text-align:center;
    background-color: var(--color-charcoal-grey);
    box-sizing: border-box;
    padding: 84px 116px 269px;
}

.footer-column a{
    color: var(--color-white);
    text-decoration: none;
    padding: 8px 20px;
    font-size: 24px;
    text-align: center
}

.footer-column a:hover{
    color: var(--color-deep-aqua-300);
    text-decoration: underline;
}

.footer-column{
    display: flex;
    flex-direction: column;
}


svg#freepik_stories-finding-brilliant-ideas:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-finding-brilliant-ideas.animated #freepik--background-complete--inject-44 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeft;
    animation-delay: 0s;
}

svg#freepik_stories-finding-brilliant-ideas.animated #freepik--Floor--inject-44 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeft;
    animation-delay: 0s;
}

svg#freepik_stories-finding-brilliant-ideas.animated #freepik--Character--inject-44 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    animation-delay: 0s;
}

svg#freepik_stories-finding-brilliant-ideas.animated #freepik--light-bulb--inject-44 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp, 1.5s Infinite linear floating;
    animation-delay: 0s, 1s;
}

svg#freepik_stories-finding-brilliant-ideas.animated #freepik--Sparkles--inject-44 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideDown;
    animation-delay: 0s;
}

svg#freepik_stories-finding-brilliant-ideas.animated #freepik--Box--inject-44 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
    animation-delay: 0s;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: inherit;
    }
}

@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes lightSpeedRight {
    from {
        transform: translate3d(50%, 0, 0) skewX(-20deg);
        opacity: 0;
    }

    60% {
        transform: skewX(10deg);
        opacity: 1;
    }

    80% {
        transform: skewX(-2deg);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}