

:root {
    --color-black: #0D0D0D;
    --color-white: #F6F1F1;
    --color-red: #19A7CE; 
    --color-dark-red: #146C94
    --color-gold: #8C6723;
    --color-yellow: #F2E852
}

header{
    width: 100%;
    height: 80px;
    background-color: var(--color-white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "persona5";
}

.header-logo {
max-height: 100%;
}

#img{
    margin-left: 20px;
    font-size: 40px;
}
header li {
    /*list-style: none;*/
    display: inline;
    padding: 0 20px;
}

header a {
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
    color: #0D0D0D;

}

header a:hover{
    text-decoration: underline;
    color: var(--color-gold);
}

.marquee{
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-black);
}

#marquee-img{
    max-width: 100%;
}


form{
    align-items: flex-start;
    background-color: var(--color-white);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 40px;
    height: 487px;
    justify-content: center;
    padding: 46px 37px; 
    width: 1051px;
}

form label {
    margin-bottom: 8px;
    font-family:"p5regular";
}

form input {
    width: 100%;
    padding: 4px 8px;
    min-height: 50px;
    max-width: 633px;
    margin-bottom: 31px;
    font-size: 20px;

}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 700px;
    padding: 49px 0px 76px;
    background-color: var(--color-black)
    
}

.form-section h1{
    font-family: "persona5";
    text-align: center;
    padding-bottom: 50px;
    font-size: 32px ;
    color: var(--color-white);
}

.products-section h1{
    width: 100%;
    max-width: 1440px;
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--color-black);
    height: 50px;
    line-height: 50px;
    color: white;
    font-family: "persona5";
    font-size: 80px;
    font-weight: bold;
    border-radius: 6px;

}

.products-section{
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: var(--color-red);
}


#products{
    font-family: 'p5regular', sans-serif;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

#products td{
    text-align: center;
    font-size: 24px;
}

#products th{
    font-size: 32px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--color-black);
    color: var(--color-white);
}

#products td{
    border-top: 2px solid var(--color-black)
}

#products tr:hover{
    background-color: var(--color-white);
    color: var(--color-black)
}

.products-section img {
    max-width: 100% ;
}

.products-info{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

footer {
    min-height: 441px;
    display:grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
    text-align:center;
    background-color: var(--color-black);
    padding: 84px 116px 269px;

}

.footer-column a{
    color: var(--color-white);
    text-decoration: none;
    padding: 8px 200px;
    font-size: 24px;
    text-align: left;
    font-family: "p5regular";
}

.footer-column a:hover{
    color: var(--color-gold);
}

.footer-column{
    display: flex;
    flex-direction: column;
}