

#logo-notificaciones{
  margin-top: -2px;
}


/*-------------------Main--------------------------*/

main {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  max-width: 1280px;
}

/*-------------------Seccion foto e información basica--------------------------*/

#informacionPerfil {
  align-items: center;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 900px;
  justify-content: space-around;
  margin: 1% 0;
  width: 40%;
  padding: 10px;
}

#introPerfil{  
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 20px;
}

#fotoPerfil{
  height: 100%;
  width: auto;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

#fotoPerfilContainer{
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid var(--beetle-green);
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}

.informacionPerfil{
  font-size: 24px;
  flex-direction: column;
  color: var(--gable-green);
  font-family: 'Quicksand', sans-serif;
}


.contenedor-detalle-usuario{
  flex-direction: row;
  background-color: var;

}


.description-container{
  background-color: var(--eggshell);
  border-radius: 15px;
}

.recomendation-container{
  background-color: var(--eggshell);
  border-radius: 15px;
}



/*-------------------Seccion Estudios/Experiencia--------------------------*/

#modificarEstudiosLaboralPersonal {
  width: 70%;
  height: 900px;
  margin: 1% 0;
  background-color: white;
  border-radius: 15px; 
}

#seccionEstudios{
  box-sizing: border-box;
  height: 50%;
  margin: 0;
  padding: 20px 14px;
  width: 100%;
}


h1{
    margin:30px 0;
    text-align: center;
    padding-bottom: 5px;
    width: 100%;
    height: fit-content;
    font-size: var(--font-size-h1);
    font-weight: bold;
    border-bottom: 3px solid var(--gable-green);
}

#seccionExperiencia{
  box-sizing: border-box;
  height: 50%;
  padding: 20px 14px;
  width: 100%;
}


