
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    height: 70px;
}
.div-empleos-container{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: var(--beetle-green);
    width: 90%;   
    color: var(--gable-green);
    flex-wrap: wrap;
    box-shadow: 5px 5px 20px 1px var(--beetle-green);
    height: 90%;
}

.div-empleos{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    
    gap: 20px;
    height: 90%;
    padding: 30px 30px;
    width: 95%;
}
.div-empleos-filter{
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
}
.div-empleos-tabla{
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
}

.div-empleos h1{
    
    margin-left: 40px;
    padding-bottom: 5px;
    width: fit-content;
    height: fit-content;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 3px solid var(--gable-green);
    margin-bottom: 30px;
}
.talentico-td ul{
    list-style-type: disc;
    list-style-position: inside;
}
.talentico-th:first-child {
    width: 15%;
}

.talentico-th:last-child {
    width: 20%;
}
.talentico-td:nth-child(4){
    justify-content: center;
    text-align: left;
    vertical-align: middle;
}

.talentico-th:nth-child(2){
    width: 25%;
}

label{
    font-size: var(--font-size-h3);
    height: 20px;
}
input{
    font-size: var(--font-size-h6);
    vertical-align: middle;
    height: 15px;
}