html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    top: 0;
    width: 100%;
    z-index: 100;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    height: 100%;
}


.div-empleos-container{
    align-items: start;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: var(--beetle-green);
    margin: 3.5% 0%;
    width: 90%;   
    color: var(--gable-green);
    flex-wrap: wrap;
    box-shadow: 5px 5px 20px 1px var(--beetle-green);
    height: 90%;
}

.div-empleos-creados, .div-candidatos{
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;

}
.div-empleos-creados{
    width: 55%;
}
.div-candidatos{
    width: 37%;
}

.div-empleos-creados{
    margin: 3% 2% 1.5% 2%;
} 

.div-candidatos{
    margin: 3% 2% 1.5% 2%;
}

.div-empleos-creados-head{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.div-empleos-creados h1, .div-candidatos h1{
    margin-top: 30px;
    margin-left: 40px;
    padding-bottom: 5px;
    width: fit-content;
    height: fit-content;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 3px solid var(--gable-green);
    margin-bottom: 30px;
}


.div-empleos-container table{
    width: 95%;
    margin-bottom: 2%;
}

.div-empleos-creados-tabla, .div-candidatos-actuales-tabla{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.div-candidatos-actuales-tabla table{
    margin-left: 3.5%;
    margin-right: 3.5%;
}


.div-button-siguiente{
    height: 10%;
}

.div-button-siguiente button{
    float: right;
}


/*--------------------TD Decoration---------------------------*/


.tbl-head{
    background-color: var(--gable-green);
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    padding: 5px 10px;
    font-weight: bold;
}

.tbl-head-left{
    background-color: var(--gable-green);
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
    width: 30%;
}

.tbl-head-right{
    background-color: var(--gable-green);
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
    width: 40%;
}
.tbl-head-right-candidato{
    background-color: var(--gable-green);
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    width: 20%;
}

.div-candidatos-actuales-tabla th{
    padding: 15px 10px;
}



.tbl-row-1{
    background-color: var(--white-table-variation);
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    padding: 1% 1%;
}

.tbl-row-1-left{
    background-color: var(--white-table-variation);
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    padding: 1% 1%;
}
.tbl-row-1-right{
    background-color: var(--white-table-variation);
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    
}
.tbl-row-1-right-candidato{
    background-color: var(--white-table-variation);
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}



.tbl-row-2{
    background-color: var(--eggshell);
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    padding: 1% 1%;
}
.tbl-row-2-left{
    background-color: var(--eggshell);
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    padding: 1% 1%;
}
.tbl-row-2-right{
    background-color: var(--eggshell);
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}
.tbl-row-2-right-candidato{
    background-color: var(--eggshell);
    vertical-align: middle;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}



.div-candidatos-actuales-tabla td{
    padding: 1% 1%;
}

td a{
    text-decoration: none;
    color: var(--gable-green);
}
td a:hover{
    text-decoration: underline;
    color: var(--deep-Sea-green);
}


/*---------------Botones------------*/



#btn-anadir-empleo{
    margin-top: 20px;
    margin-right: 3%;
    margin-bottom: 0.5%;
}

button{
    background-color: var(--gable-green);
    color: white;
    padding: 1.5% 2%;
    border-radius: 5px;
    margin: 2% 3% 2% 3%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}
button:hover{
    background-color: var(--buttonHover);
}

.btn-eliminar{
    background-color: var(--chili-pepper);
    color: white;
    padding: 1.5% 2%;
    border-radius: 5px;
    margin: 2% 3% 2% 3%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

.btn-eliminar:hover{
    background-color: var(--buttonEliminarHover);
}

.div-button-siguiente-empleos button{
    padding: 0.5% 1%;
    font-size: 12px;
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
}
.div-button-siguiente-candidatos button{
    padding: 0.5% 1%;
    font-size: 12px;
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
}
