html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    top: 0;
    width: 100%;
    z-index: 100;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.div-empleo-informacion-container{
    align-items: start;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: var(--beetle-green);
    height: 90%;
    width: 90%;   
    color: var(--gable-green);
    flex-wrap: wrap;
    max-width: fit-content;
    box-shadow: 5px 5px 20px 1px var(--gable-green);
}


#logo-empresa{
    height: 200px;
    margin-top: 10%;
}
.div-empresa{
    background-color: white;
    border-radius: 15px;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 2% 2% 2% 2%;
    height: 90%;
    
}


.div-empresa p{
    margin: 13% 15% 0 15%;
    font-size: 15px;
    align-items: start;
    font-weight: 500;
}

.div-empleo-general-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 100%;
    flex-wrap: wrap;
}

.div-empleo-nombre{
    height: 1%;
    background-color: white;
    margin: 2% 0 2% 0%;
    border-radius: 15px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 2%;
}

.div-empleo-info{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*margin: 25px 80px 50px 25px;*/
    margin: 0 0 2% 0%;
    padding: 1.5%;
    border-radius: 15px;
    width: 85%;
    height: 55%;
}

.div-empleo-buttons{
    height: 10%;
    background-color: white;
    /*margin:  80px 50px 25px;*/
    border-radius: 15px;
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
 
}
.div-empleo-buttons-Reclutador{
    height: 10%;
    background-color: white;
    /*margin:  80px 50px 25px;*/
    border-radius: 15px;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1%;
}





.div-empleo-info h1{
    margin-top: 1%;
    margin-left: 40px;
    padding-bottom: 5px;
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid var(--gable-green);
}
.div-empleo-info h2{
    margin-top: 1%;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 500;
}
.div-empleo-info ul{
    margin-top: 15px;
}

.div-empleo-info li{
    margin-left: 80px;
    font-size: 15px;
    font-weight: 500;
    list-style-type: disc;
}

.div-empleo-info p{
    margin-top: 20px;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 500;
}


.btn-Empleo{
    background-color: var(--gable-green);
    color: var(--eggshell);
    padding: 5% 10%;
    border-radius: 15px;
    
    margin: 2% 3% 2% 3%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}

.btn-Empleo-Reclutador{
    background-color: var(--gable-green);
    color: var(--eggshell);
    padding: 1.5% 4%;
    border-radius: 15px;
    
    margin: 2% 3% 2% 3%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}

.btn-Empleo:hover{
    background-color: var(--buttonHover);
}

#email{
    font-size: 18px;
    height: 30px;
    border-radius: 5px;
    border-color: var(--eggshell);
    transition-property: box-shadow;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 1px 2px 0 rgba(26, 60, 64, .5);
    width: 50%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

#email:focus{
    border: 2px solid var(--elf-green);
    outline: none;
    box-shadow: 0 0 0 0 white, 0 0 0 1px var(--gable-green), 0 10px 15px -3px rgba(26, 60, 64, .1), 0 4px 6px -4px rgba(26, 60, 64, .1);
}