
:root {
--gable-green: #1A3C40;
--deep-Sea-green: #1D5C63;
--beetle-green: #417D7A;
--elf-green: #128F8B;
--eggshell: #EDE6DB;

}

body{
    background-color: var(--eggshell);
    font-family: 'Quicksand', sans-serif;
}

/*-------------------Footer--------------------------*/

footer{
    
    height: 300px;
    display: flex;
    justify-content: space-between;
    background-color: #1D5C63;
}
footer ul {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    margin: 84px 116px 0px 116px;
    
}
footer ul li{
    margin: 5px 0px;
}
footer a{
    color: #EDE6DB;
    text-decoration: none;
}


#demostrativo1{
    vertical-align: middle;
    height: 600px;
    font-size: 12pt;
    font-weight: 500;
    color: #1A3C40;

}
#demostrativo2{
    vertical-align: middle;
    
    height: 600px;
    font-size: 12pt;
    font-weight: 500;
    color: #1A3C40;

}