
:root {
--gable-green: #1A3C40;
--deep-Sea-green: #1D5C63;
--beetle-green: #417D7A;
--elf-green: #128F8B;
--eggshell: #EDE6DB;

}

body{
    background-color: var(--eggshell);
    font-family: 'Quicksand', sans-serif;
}

/*-------------------NAV BAR--------------------------*/

header {
    background-color: var(--gable-green);
    height: 60px;
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a, li, ul{
    color: var(--eggshell);
    text-decoration: none;
    
}

nav{
    font-size: 20px;
    font-weight: bold;
    
    height: 100%;
    
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-evenly;
    /*border: purple 1px solid;*/
    
}

nav a:hover{
    color: #54a39f;
}

.cls-navPane{
    padding: 18px 0 ;
    text-align: center;
    width: 33.3333%;
    
}


.cls-dropdown{
    position: relative;
    background-color: #1A3C40;
    opacity: 1;
    text-align: left;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    visibility: hidden;

}
.cls-dropdown a {
    padding: 15px 20px;
    display: inline-block;
    width: 100%;
}

.cls-navPane:hover .cls-dropdown{
    transition: 0.2s;
    z-index: 10;
    opacity: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
    font-size: 15px;
    visibility: visible;
}



#logo-notificaciones{
    
    margin-top: -2px;
}


/*-------------------Footer--------------------------*/




footer{
    
    height: 300px;
    display: flex;
    justify-content: space-between;
    background-color: #1D5C63;
}
footer ul {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    font-weight: 800;
    margin: 84px 116px 0px 116px;
    
}
footer ul li{
    margin: 5px 0px;
}
footer a{
    color: #EDE6DB;
    text-decoration: none;
}

nav a:hover{
    color: var(--elf-green);
}





























#demostrativo1{
    vertical-align: middle;
    height: 600px;
    font-size: 12pt;
    font-weight: 500;
    color: #1A3C40;

}
#demostrativo2{
    vertical-align: middle;
    
    height: 600px;
    font-size: 12pt;
    font-weight: 500;
    color: #1A3C40;

}