* {
    color: #EDE6DB;
    text-decoration: none;
}

body {
    background-color: #EDE6DB;
    font-family: 'Quicksand', sans-serif;
}

header {
    background-color: #1A3C40;
    height: 60px;
    padding: 20px 40px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div {
    /*border: red 1px solid;*/
}

nav {
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 18%;
    justify-content: space-evenly;
}

nav a:hover {
    color: #ff8a00;
}














#navPane{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    vertical-align: middle;
    margin-top: 15px;
}
#navPane li{
    justify-content: space-between;
    
}
.nav-level1 {
	display: block;
	position: relative;
	float: left;
	background-color: #1A3C40;
}


.nav-level1 a {
	margin: 10px 10px ;
	color: #EDE6DB;
	text-decoration: none;
    background-color: #1A3C40;
}

.nav-level1:hover > ul {
    z-index: 10;
    opacity: 1;
    display: flex;
    flex-direction: column;
    height: fit-content;
    font-size: 20px;
    visibility: visible;
	display: block;
	position: absolute;
}

.nav-level2 {
	display: none;
}

.nav-level2 li {
	background-color: #1A3C40;
	line-height: 40px;
	width: fit-content;
    padding: 15px 20px;

}
.nav-level2 a:hover {
    color: #ff8a00;
}

.nav-level2 li a {
	color: #EDE6DB;
    
}

ul {
	list-style: none;
	margin: 0;
	padding: 0px;
	width: fit-content;
}

ul ul ul {
	right: 100%;
	top: 0;
	margin-left: 1px;
    
}

li:hover{
	background-color: #1A3C40;
    
}

.nav-level1 li:hover {
	background-color: #355c60;
}

