html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    top: 0;
    width: 100%;
    z-index: 100;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.div-candidatos-invitaciones{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: var(--beetle-green);
    width: 90%;  
    height: 90%;  
    color: var(--gable-green);
    flex-wrap: wrap;
    box-shadow: 5px 5px 20px 1px var(--beetle-green);
    
}

.div-candidatos, .div-invitaciones{
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 90%;
    padding: 0 30px;
    overflow: auto;
}


.div-candidatos-head{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.div-Invitaciones-actuales-tabla{
    overflow: auto;
}

.div-candidatos h1, .div-invitaciones h1{
    margin-top: 30px;
    margin-left: 40px;
    padding-bottom: 5px;
    width: fit-content;
    height: fit-content;
    font-size: var(--font-size-h1);
    font-weight: bold;
    border-bottom: 3px solid var(--gable-green);
    margin-bottom: 30px;
}

.div-button-siguiente{
    height: 10%;
}

.div-button-siguiente button{
    float: right;
}

#btn-anadir-empleo{
    margin-top: 20000px;
}