html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
    top: 0;
    width: 100%;
    z-index: 100;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    height: 100%;
}

.div-anadir-empleo-container{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: var(--beetle-green);
    width: 30%;
    color: var(--gable-green);
    flex-wrap: wrap;
    box-shadow: 5px 5px 20px 1px var(--beetle-green);
    padding: 30px;
    height: 90%;
}
.div-anadir-empleo{
    background-color: var(--white);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    border-radius: 15px;
}

.div-anadir{
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: start;
    width: 85%;
    height: 90%;
    padding: 0 30px;
}

.div-anadir h1{
    margin:30px 0;
    text-align: center;
    padding-bottom: 5px;
    width: 100%;
    height: fit-content;
    font-size: var(--font-size-h1);
    font-weight: bold;
    border-bottom: 3px solid var(--gable-green);
}
.div-anadir label{
    margin: 40px 0;
    text-align: center;
    padding-bottom: 3px;
    width: fit-content;
    font-size: var(--font-size-h2);
    font-weight: bold;
    
}


.div-anadir input{
    border-color: var(--eggshell);
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(26, 60, 64, .5);
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-h3);
    font-weight: 500;
    height: fit-content;
    margin: 15px 0;
    text-align: left;
    transition-duration: 300ms;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 100%;
}
.div-anadir input:focus{
    border: 2px solid var(--elf-green);
    outline: none;
    box-shadow: 0 0 0 0 white, 0 0 0 1px var(--gable-green), 0 10px 15px -3px rgba(26, 60, 64, .1), 0 4px 6px -4px rgba(26, 60, 64, .1);
}

.div-anadir textarea{ 
    border-color: var(--eggshell);
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(26, 60, 64, .5);
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-h4);
    font-weight: 500;
    height: fit-content;
    margin: 15px 0;
    text-align: left;
    transition-duration: 300ms;
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 100%;
    min-height: 100px;
}
.div-anadir textarea:focus{
    border: 2px solid var(--elf-green);
    outline: none;
    box-shadow: 0 0 0 0 white, 0 0 0 1px var(--gable-green), 0 10px 15px -3px rgba(26, 60, 64, .1), 0 4px 6px -4px rgba(26, 60, 64, .1);
}

.div-button{
    height: 10%;
}

.div-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}